html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url("../images/bright_squares.png");
}

.container-fluid {
    padding: 0px;
}

.container {
        width: 100%;
        padding-top: 0px;
        background-color: rgba(90, 92, 81, 0.27);
        padding-top: 30px;
    }

.navbar {
    border-radius: 0px;
    background-color: #1d2120;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.container .jumbotron {
    padding: 0;
    border-radius: 0px;
    /* margin-top: -20px; */
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    }

.space {
    height: 30px;
}

img {
    height: 100%;
    width: 100%;
}

.cover {
    object-fit: cover;
}

.row {
    margin: 0px;
    margin-top: 10px;
}

.row-2 {

}

/*#more {
    width: 100%;
    padding-top: 0px;
    background-color: rgba(90, 92, 81, 0.27);
    padding-top: 30px;
}*/

/*.col-md-4 {
    padding-right: 0px; 
    padding-left: 0px;
    margin-top: 30px;
}*/

.thumbnail {
    margin: 0px;
    border-radius: 0px;
    border: none;
    background-color: rgba(255, 255, 0, 0);
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
}

p {
    font-family: 'Droid Sans Mono';
}



.thumbnail>img {
    margin-top: -4px;
    border-radius: 100%;
    border: solid 1px gray;
    height:250px;
    width: 250px;
}

.img-rounded {
    background-size: 160%;
    margin-top: -4px;
    border-radius: 100%;
    border: solid 1px gray;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    padding-left: 106px;
    font-family: 'Droid Sans'
 }

 #events {
    padding-left: 170px;
 }

 #events_caption {

 }

 #spotlight {
    padding-left: 152px;
 }

 #discussions {
    padding-left: 125px;
 }

.btn {
    float: right;
    margin-right: 20px;
    border-color: #5a5c51;
    background-color: #bcd5d1
}

.btn_row {
    background-color: rgba(90, 92, 81, 0.27);

}

#about {
    height: 400px;
    background-color: #615650;
}

#github {
    background-image: url("assets/images/github.png");
    height: 50px
    width:50px;
}

#linkedin {
    background-image: url("assets/images/linkedin.png");
    height: 50px
    width:50px;
}

#so {
    background-image: url("assets/images/stackoverflow.png");
    height: 50px
    width:50px;
}

/*.row {
    width: 100%;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}

/*@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}*/



